/* Osnovne nastavitve za celotno HTML stran */
html {
  box-sizing: border-box; /* Določa box model elementov tako, da vključuje robove in polnilo v širino/višino */
  font-family: 'Roboto', sans-serif; /* Določa privzeto pisavo za stran, 'Roboto' ali katero koli brezserifno pisavo */
  font-size: 100%; /* Nastavi privzeto velikost pisave na 100% od osnovne velikosti brskalnika */
}

/* Slog za vse elemente in psevdo-elemente pred in po elementih */
*, *:before, *:after {
  box-sizing: inherit; /* Elementi podedujejo box model od svojega starša */
  margin: 0; /* Odstrani vse zunanje robove elementov */
  padding: 0; /* Odstrani vse notranje robove elementov */
}

/* Sredinski del (mid) */
.mid {
  display: flex; /* Uporabi fleksibilni prikaz za lažje centriranje elementov */
  align-items: center; /* Poravna elemente vertikalno na sredino */
  justify-content: center; /* Poravna elemente horizontalno na sredino */
  padding-top: 1em; /* Doda zgornji polnilo 1em */
}

/* Stilizacija stikala se začne tukaj */
.rocker {
  display: inline-block; /* Stikalo se prikaže v vrsti (inline) kot blok */
  position: relative; /* Položaj stikala je relativni */
  font-size: 2em; /* Določa velikost pisave za stikalo */
  font-weight: bold; /* Določa debelino pisave */
  text-align: center; /* Poravna besedilo v sredino stikala */
  text-transform: uppercase; /* Pretvori vse črke v velike črke */
  color: #888; /* Barva besedila stikala */
  width: 7em; /* Širina stikala */
  height: 4em; /* Višina stikala */
  overflow: hidden; /* Skrije vsebino, ki bi štrlela iz stikala */
  border-bottom: 0.5em solid #eee; /* Določi spodnji rob stikala */
}

/* Dodatni stil za majhna stikala */
.rocker-small {
  font-size: 0.75em; /* Manjša velikost pisave za majhna stikala */
  margin: 1em; /* Doda zunanji rob okoli majhnega stikala */
}

/* Stil za generiran element pred stikalom */
.rocker::before {
  content: ""; /* Generira prazen element */
  position: absolute; /* Položaj je absoluten glede na bližnji relativni element */
  top: 0.5em; /* Razdalja od vrha */
  left: 0; /* Razdalja od levega roba */
  right: 0; /* Razdalja od desnega roba */
  bottom: 0; /* Razdalja od spodnjega roba */
  background-color: #999; /* Barva ozadja generiranega elementa */
  border: 0.5em solid #eee; /* Rob generiranega elementa */
  border-bottom: 0; /* Brez spodnjega roba */
}

/* Skrije vhodno polje stikala */
.rocker input {
  opacity: 0; /* Naredi vhodno polje popolnoma nevidno */
  width: 0; /* Širina vhodnega polja je 0 */
  height: 0; /* Višina vhodnega polja je 0 */
}

/* Stil za levo in desno stran stikala */
.switch-left,
.switch-right {
  cursor: pointer; /* Spremeni kazalec miške v kazalca ko je nad elementom */
  position: absolute; /* Absolutni položaj glede na najbližji relativni element */
  display: flex; /* Flex prikaz za poravnavo vsebine */
  align-items: center; /* Vertikalno centriranje vsebine */
  justify-content: center; /* Horizontalno centriranje vsebine */
  height: 2.5em; /* Višina stikala */
  width: 3em; /* Širina stikala */
  transition: 0.2s; /* Animacija traja 0.2 sekunde */
}

/* Stil za levo stran stikala */
.switch-left {
  height: 2.4em; /* Višina leve strani stikala */
  width: 2.75em; /* Širina leve strani stikala */
  left: 0.85em; /* Razdalja od levega roba */
  bottom: 0.4em; /* Razdalja od spodnjega roba */
  background-color: #ddd; /* Barva ozadja leve strani */
  transform: rotate(15deg) skewX(15deg); /* Rotacija in nagib leve strani */
}

/* Stil za desno stran stikala */
.switch-right {
  right: 0.5em; /* Razdalja od desnega roba */
  bottom: 0; /* Razdalja od spodnjega roba */
  background-color: #bd5757; /* Barva ozadja desne strani */
  color: #fff; /* Barva besedila desne strani */
}

/* Stil za generirani element pred levo in desno stranjo stikala */
.switch-left::before,
.switch-right::before {
  content: ""; /* Generira prazen element */
  position: absolute; /* Absolutni položaj glede na bližnji element */
  width: 0.4em; /* Širina generiranega elementa */
  height: 2.45em; /* Višina generiranega elementa */
  bottom: -0.45em; /* Razdalja od spodnjega roba */
  background-color: #ccc; /* Barva ozadja generiranega elementa */
  transform: skewY(-65deg); /* Nagib generiranega elementa v levo */
}

/* Poseben stil za generirani element pred levo stranjo stikala */
.switch-left::before {
  left: -0.4em; /* Razdalja od levega roba */
}

/* Poseben stil za generirani element pred desno stranjo stikala */
.switch-right::before {
  right: -0.375em; /* Razdalja od desnega roba */
  background-color: transparent; /* Prozorna barva ozadja */
  transform: skewY(65deg); /* Nagib generiranega elementa v desno */
}

/* Stil ob kliku na levo stran stikala */
input:checked + .switch-left {
  background-color: #0084d0; /* Modra barva ozadja */
  color: #fff; /* Bela barva besedila */
  bottom: 0px; /* Razdalja od spodnjega roba */
  left: 0.5em; /* Razdalja od levega roba */
  height: 2.5em; /* Višina stikala */
  width: 3em; /* Širina stikala */
  transform: rotate(0deg) skewX(0deg); /* Brez rotacije in nagiba */
}

/* Dodatna nastavitev za prednje ozadje ob kliku na levo stran stikala */
input:checked + .switch-left::before {
  background-color: transparent; /* Prozorna barva ozadja */
  width: 3.0833em; /* Širina prednje ozadja */
}

/* Dodatna nastavitev za desno stran stikala ob kliku na levo stran */
input:checked + .switch-left + .switch-right {
  background-color: #ddd; /* Siva barva ozadja */
  color: #888; /* Siva barva besedila */
  bottom: 0.4em; /* Razdalja od spodnjega roba */
  right: 0.8em; /* Razdalja od desnega roba */
  height: 2.4em; /* Višina stikala */
  width: 2.75em; /* Širina stikala */
  transform: rotate(-15deg) skewX(-15deg); /* Rotacija in nagib */
}

/* Dodatna nastavitev za prednje ozadje desne strani ob kliku na levo stran */
input:checked + .switch-left + .switch-right::before {
  background-color: #ccc; /* Siva barva ozadja */
}

/* Stil za uporabnike tipkovnice ob osredotočanju na levo stran stikala */
input:focus + .switch-left {
  color: #333; /* Temna barva besedila ob osredotočenju */
}

/* Dodatna nastavitev barve besedila ob kliku in osredotočenju na levo stran stikala */
input:checked:focus + .switch-left {
  color: #fff; /* Bela barva besedila ob osredotočenju */
}

/* Dodatna nastavitev barve besedila ob osredotočanju na levo in desno stran stikala */
input:focus + .switch-left + .switch-right {
  color: #fff; /* Bela barva besedila ob osredotočenju */
}

/* Dodatna nastavitev barve besedila ob kliku in osredotočanju na desno stran stikala */
input:checked:focus + .switch-left + .switch-right {
  color: #333; /* Temna barva besedila ob osredotočenju */
}

/* Splošni stil za vsebino strani */
.content {
  text-align: center; /* Besedilo poravnano na sredino */
}

/* Stil za sredinsko poravnano sliko */
.center {
  display: block; /* Slika prikazana kot blok */
  margin-left: auto; /* Samodejna poravnava levega roba slike */
  margin-right: auto; /* Samodejna poravnava desnega roba slike */
  width: 300px; /* Širina slike nastavljena na 300px */
  /* height: 400px; /* Višina slike trenutno izklopljena */
}

/* Stil za časovnik */
.timer {
  margin-top: 10px; /* Zgornji rob nastavljen na 10px */
}

/* Slog za drsnik za nastavitev  vatov */
#wattSlider {
    width: 50%; /* Drsnik povečan za 50% */
    margin-top: 15px; /* Dodan zgornji rob 15px */
}

/* Slog za odsek s podatki o porabi */
.consumption-data {
    margin-top: 15px; /* Dodan zgornji rob 15px */
}

/* Slog za skupne vat-ure, da se ujemajo s slogom h1 */
#totalWattHours {
    font-weight: bold; /* Nastavitev na krepko */
    /* Dodajte druge sloge, da se ujemajo z vašimi h1 elementi */
}

/* Slog za delilnik */
.divider {
    border-bottom: 1px solid #000; /* Trdna črna črta */
    margin: 10px 0; /* Razmik zgoraj in spodaj */
    margin-left: 100px; /* Levi rob */
    margin-right: 100px; /* Desni rob */
    display: none; /* Sprva skrit */
}

body {
  background-color: white;
}